*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-size: 16px;
    font-family: "Lato" sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: grey;
}

.section1{
    background-image: url(./images/pic1.jpg);
     min-height: 100%; /*this will take the full width */
}

.section2{
    background-image:url(./images/pic2.jpg);
    min-height: 400px;
}

.section3{
    background-image: url(./images/pic3.jpg);
    min-height: 400px;
}

.section4{
    background-image: url(./images/pic4.jpg);
    min-height: 400px;
}

.section1, 
.section2, 
.section3,
.section4 {
    position: relative;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text-bg{
    background-color: rgba(39, 18, 18, 0.677);
    padding: 20px;
    color: white;
}

.section{
    padding: 50px 80px;
    text-align: center;
}

.section-light{
    background-color: palevioletred;
    color: black;
}

.section-dark{
    background-color: palevioletred;
    color: black;
}
